<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/jquery-migrate-3.4.0.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

</head>

<body>
    <div class="container">


        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon">fsadfsa</span>
                </button>
                <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-toggle=".collapse.show"
                    data-bs-target="#showOrder" aria-expanded="true" aria-controls="#showOrder" id="visable">
                    مشاهده سفارشات
                </button>
                <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-toggle=".collapse.show"
                    data-bs-target="#showOffer" aria-expanded="true" aria-controls="#showOffer">
                    showOffer
                </button>
                <!--     <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#adsubservice" aria-expanded="false"
                         aria-controls="adsubservice">
                     اضافه کردن زیرخدمت
                 </button>
                 <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#showAll" aria-expanded="false"
                         aria-controls="showAll"  id="show">
                     اضافه کردن زیرخدمت
                 </button>-->
                <!-- <button type = "button" value="show all" id="show">show</button> -->

                <!--            <div class="collapse navbar-collapse" id="navbarNav">-->
                <!--            </div>-->
            </div>
        </nav>

        <div class="collapse navbar-collapse" id="showOrder">
            <!--        <div class="card card-body">-->
            <!--            <div id="listOrder">-->
            <!--            </div>-->
            <!--        <div>-->

            <h1></h1>
            <br />
            <fieldset>
                <legend>
                    service list
                </legend>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>name</th>
                            <th>email</th>
                            <th>status</th>
                            <th>checkbox</th>
                            <!-- <th>price</th>
                    <th>Address</th>
                    <th>City</th> -->
                        </tr>
                    </thead>
                    <tbody id="tblbodyspecialty">
                    </tbody>
                </table>
            </fieldset>
       
        <div>
            <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-toggle=".collapse.show"
                data-bs-target="#showOffer" aria-expanded="true" aria-controls="#showOffer" id="order">
                showOffer
            </button>
        </div>
    </div>

        <div class="collapse navbar-collapse" id="showOffer">
            <div class="card card-body">
                <div>
                </div>
                <div>

                    <h1></h1>
                    <br />
                    <fieldset>
                        <legend>
                            service list
                        </legend>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>name</th>
                                    <th>email</th>
                                    <th>status</th>
                                    <th>checkbox</th>
                                    <!-- <th>price</th>
                    <th>Address</th>
                    <th>City</th> -->
                                </tr>
                            </thead>
                            <tbody id="tableOffer">
                            </tbody>
                        </table>
                    </fieldset>
                </div>
                <div>
                    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-toggle=".collapse.show"
                        data-bs-target="#showOffer" aria-expanded="true" aria-controls="#showOffer" id="choiceOffer">
                        choiceOffer
                    </button>
                </div>
            </div>
        </div>
        </div>


        <div>
            <p>
                <label for="service"></label>
                <select id="service">
                    <option value="0">- Select -</option>
                    <!--                <option value='".$departid."' >".$depart_name."</option>-->
                </select>
            </p>
            <p>
                <label for="describe" class="floatLabel">describe</label>
                <input id="describe" name="describe" type="text">
            </p>
            <p>
                <label for="time" class="floatLabel">time</label>
                <input id="time" name="time" type="datetime-local">
            </p>
            <!--    <p>
            <label for="date" class="floatLabel">time</label>
            <input id="date" name="date" type="date">
        </p>-->
            <p>
                <label for="address" class="floatLabel">address</label>
                <input id="address" name="address" type="text">
            </p>
            <p>
                <label for="price" class="floatLabel">price</label>
                <input id="price" name="price" type="number" accept="application/vnd.apple.numbers">
            </p>
            <p>
                <button type="button" value="Create My Account" id="button">Add</button>

            </p>
        </div>
        <script>
            let SubServiceName;
            let idSubService;
            let order;

            $(document).ready(function () {
                $("#button").click(function (event) {
                    var formData = {
                        describe: $("#describe").val(),
                        localDateTime: $("#time").val(),
                        subServiceName: SubServiceName,
                        address: $("#address").val(),
                        offerPrice: $("#price").val(),
                        subServiceId: idSubService
                        // superheroAlias: $("#superheroAlias").val(),
                    };

                    $.ajax({
                        type: "POST",
                        method: "POST",
                        url: "http://localhost:8080/customer/createorder",
                        data: formData,
                        dataType: "json",
                        encode: true,
                    }).done(function (data) {
                        console.log(data);
                    });

                    event.preventDefault();
                });
            });
            $(document).ready(function () {
                $.ajax({
                    url: "http://localhost:8080/service/sub/",
                    type: "GET",
                    // data: {depart:deptid},
                    dataType: "json",
                    success: function (response) {

                        var len = response.length;

                        $("#service").empty();
                        for (var i = 0; i < len; i++) {
                            var id = response[i]['id'];
                            var name = response[i]['subServiceName'];

                            $("#service").append("<option value='" + id + "'>" + name + "</option>");

                        }
                    }
                });
            });
            $("#service").on("change", function () {
                SubServiceName = $("#service").find(":selected").text();
                idSubService = $('#service option:selected').val();
                alert(SubServiceName + " " + id + $("#time").val());
            });
            $(document).ready(function () {
                $("#visable").click(function (event) {
                    $.ajax({
                        url: "http://localhost:8080/customer/myOrder/",
                        type: "GET",
                        contentType: "application/json;charset=utf-8",
                        dataType: "json",
                        success: function (result) {
                            debugger;
                            if (result) {
                                //itetrate thorugh each record and bind it to td
                                var html = '';
                                $.each(result, function (key, item) {
                                    var tablerow = '<tr>'
                                        + '<td id="ide">' + item.id + '</td>'
                                        + '<td>' + item.describe + '</td>'
                                        + '<td>' + item.offerPrice + '</td>'
                                        + '<td id="email">' + item.offerPrice + '</td>'
                                        + '<td>' + "<input type='checkbox' name='myOrder' class='radio' value='" + item.id + "' id='" + item.id + "' />" + "</label>" + '</td>'
                                        + '</tr>';
                                    $("#tblbodyspecialty").append(tablerow);
                                });
                            }
                        },
                        error: function (errormessage) {
                            alert(errormessage.responseText);
                        }
                    });
                });
            });
            $(document).on('click', 'input[type="checkbox"]', function () {
                checkbox = null;
                $('input[type="checkbox"]').not(this).prop('checked', false);
                checkbox = document.querySelector('input[type="checkbox"]');
                alert($('input[name="myOrder"]:checked').attr('value'))
            });
            $(document).ready(function () {
                order=$('input[name="myOrder"]:checked').attr('value');
                $("#order").click(function (event) {
                    $.ajax({
                        url: "http://localhost:8080/customer/myOffer/",
                        type: "GET",
                        data: {
                            id:$('input[name="myOrder"]:checked').attr('value')
                        },
                        // contentType: "application/json;charset=utf-8",
                        dataType: "json",
                        success: function (result) {
                            debugger;
                            if (result) {
                                //itetrate thorugh each record and bind it to td
                                var html = '';
                                $.each(result, function (key, item) {
                                    var tablerow = '<tr>'
                                        + '<td id="ide">' + item.id + '</td>'
                                        + '<td>' + item.describe + '</td>'
                                        + '<td>' + item.offerPrice + '</td>'
                                        + '<td id="email">' + item.address + '</td>'
                                        + '<td>' + "<input type='checkbox' name='myOffers' class='radio' value='" + item.id + "' id='" + item.id + "' />" + "</label>" + '</td>'
                                        + '</tr>';
                                    $("#tableOffer").append(tablerow);
                                });
                            }
                        },
                        error: function (errormessage) {
                            alert(errormessage.responseText);
                        }
                    });
                });
            });
            $(document).ready(function () {
                alert(order)
                $("#choiceOffer").click(function (event) {
                    var formData = {
                        id:$('input[name="myOffers"]:checked').attr('value') ,
                        orderId: order,
                        // superheroAlias: $("#superheroAlias").val(),
                    };

                    $.ajax({
                        type: "POST",
                        method: "POST",
                        url: "http://localhost:8080/customer/choiceOffer/",
                        data: formData,
                        dataType: "json",
                        encode: true,
                    }).done(function (data) {
                        console.log(data);
                    });

                    event.preventDefault();
                });
            });
       
       </script>
</body>


</html>