<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/jquery-migrate-3.4.0.js"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

</head>

<body>
    <div class="container">


        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon">fsadfsa</span>
                </button>
                <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-toggle=".collapse.show"
                    data-bs-target="#showAllService" aria-expanded="true" aria-controls="#showAllService">
                    درخواست تخصص
                </button>
                <button class="btn btn-primary" type="button" data-bs-toggle="collapse"
                    data-bs-target="#showListOrderForStart" aria-expanded="true" aria-controls="showListOrderForStart"
                    id="showOrderForStart">
                    start work
                </button>
                <button class="btn btn-primary" type="button" data-bs-toggle="collapse"
                    data-bs-target="#showListOrderForDown" aria-expanded="true" aria-controls="showListOrderForDown"
                    id="showDownWork">
                    Done work
                </button>
                <button class="btn btn-primary" type="button" data-bs-toggle="collapse"
                data-bs-target="#showOrderAll" aria-expanded="true" aria-controls="showOrderAll"
                id="createOffer">
                create Offer
            </button>
                <button class="btn btn-primary" type="button" data-bs-toggle="collapse"
                        data-bs-target="#showAllOrder" aria-expanded="true" aria-controls="showAllOrder"
                        id="showAllOrderBut">
                    مشاهده تمام پیشنهادات
                </button>
                <button class="btn btn-primary" type="button" data-bs-toggle="collapse"
                        data-bs-target="#myInfo" aria-expanded="true" aria-controls="myInfo"
                        id="info">
                    دیدن رتبه و کیف پول
                </button>

            </div>
        </nav>

        <div class="collapse navbar-collapse" id="showAllService">
            <div class="card card-body">
                <div id="listof">
                </div>
                <button type="button" class="btn btn-outline-primary" id="request">ثبت درخواست</button>
            </div>
        </div>
        <div class="collapse navbar-collapse" id="showListOrderForStart">
            <div class="card card-body">
                <div>

                    <h1></h1>
                    <br />
                    <fieldset>
                        <legend>
                            service list
                        </legend>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>name</th>
                                    <th>email</th>
                                    <th>status</th>
                                    <th>checkbox</th>
                                    <!-- <th>price</th>
                        <th>Address</th>
                        <th>City</th> -->
                                </tr>
                            </thead>
                            <tbody id="listOrderForStart">
                            </tbody>
                        </table>
                    </fieldset>
                </div>
                <div>
                    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-toggle=".collapse.show"
                        data-bs-target="#" aria-expanded="true" aria-controls="#" id="forStartWork">
                        choiceOffer
                    </button>
                </div>
            </div>
            <!-- <button type="button" class="btn btn-outline-primary" id="startWork">ثبت درخواست</button> -->
        </div>
    </div>
    <div class="collapse navbar-collapse" id="showListOrderForDown">
        <div class="card card-body">
            <div>

                <h1></h1>
                <br />
                <fieldset>
                    <legend>
                        service list
                    </legend>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>name</th>
                                <th>email</th>
                                <th>status</th>
                                <th>checkbox</th>
                                <!-- <th>price</th>
                <th>Address</th>
                <th>City</th> -->
                            </tr>
                        </thead>
                        <tbody id="listOrderForDown">
                        </tbody>
                    </table>
                </fieldset>
            </div>
            <div>
                <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-toggle=".collapse.show"
                    data-bs-target="#showOffer" aria-expanded="true" aria-controls="#showOffer" id="finish">
                    finish
                </button>
            </div>
        </div>
        <!-- <button type="button" class="btn btn-outline-primary" id="startWork">ثبت درخواست</button> -->
    </div>
    </div>


    <div id="showAllOrder" class="collapse">

        <h1>لیست سفارشات برای شما</h1>
        <br />
        <fieldset>
            <legend>
                Order list
            </legend>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>subService</th>
                    <th>describe</th>
                    <th>time</th>
                    <th>price</th>
                    <th>address</th>
                    <th>checkbox</th>
                    <!-- <th>price</th>
            <th>Address</th>
            <th>City</th> -->
                </tr>
                </thead>
                <tbody id="AllOrders">
                </tbody>
            </table>
        </fieldset>
        <div>
            <p>
                <label for="describe" class="floatLabel">describe</label>
                <input id="describe" name="describe" type="text">
            </p>
            <p>
                <label for="time" class="floatLabel">time</label>
                <input id="time" name="time" type="datetime-local">
            </p>

            <p>
                <label for="price" class="floatLabel">price</label>
                <input id="price" name="price" type="number" accept="application/vnd.apple.numbers">
            </p>
            <p>
                <button type="button" value="Create My Account" id="button">Add</button>

            </p>
        </div>
<!--        <button type="button" class="btn btn-outline-success" value="service" id="butdet">Add</button>-->

    <div id="div3">
    </div>
        <div id="myInfo" class="collapse navbar-collapse">
            <p>Thnaks</p>
                    </div>
        <div id="showOrderAll" class="collapse">

            <h1>لیست سفارشات برای شما</h1>
            <br />
            <fieldset>
                <legend>
                    Order list
                </legend>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>subService</th>
                        <th>describe</th>
                        <th>time</th>
                        <th>price</th>
                        <th>address</th>
                        <th>checkbox</th>
                        <!-- <th>price</th>
                <th>Address</th>
                <th>City</th> -->
                    </tr>
                    </thead>
                    <tbody id="tblbody">
                    </tbody>
                </table>
            </fieldset>
        </div>
    </div>

    <script>
        let orid;
        var checkbox;
        $(document).ready(function () {
            $("#button").click(function (event) {
                var formData = {
                    describe: $("#describe").val(),
                    localDateTime: $("#time").val(),
                    address: $("#address").val(),
                    offerPrice: $("#price").val(),
                    orderId: $('input[name="check"]:checked').attr('value')
                    // superheroAlias: $("#superheroAlias").val(),
                };

                $.ajax({
                    type: "POST",
                    method: "POST",
                    url: "http://localhost:8080/exp/writeOffer",
                    data: formData,
                    dataType: "json",
                    encode: true,
                }).done(function (data) {
                    console.log(data);
                });

                event.preventDefault();
            });
        });
        $(document).ready(function () {
            $.ajax({
                url: "http://localhost:8080/exp/seeorder/",
                type: "GET",
                // data: {depart:deptid},
                dataType: "json",
                success: function (result) {
                    debugger;
                    if (result) {
                        //itetrate thorugh each record and bind it to td
                        var html = '';
                        $.each(result, function (key, item) {
                            var tablerow = '<tr>'
                                + '<td id="ide">' + item.id + '</td>'
                                + '<td>' + item.subServiceName+'</td>'
                                + '<td >' + item.describe + '</td>'
                                + '<td >' + item.timeForWork + '</td>'
                                + '<td >' + item.orderPrice + '</td>'
                                + '<td >' + item.address + '</td>'
                                + '<td>' + "<input type='checkbox' name='check' class='radio' value='" + item.id + "' id='" + item.id + "' />" + "</label>" + '</td>'
                                + '</tr>';
                            $("#tblbody").append(tablerow);
                        });
                    }
                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }
            });
        });
        $(document).on('click', 'input[type="checkbox"]', function () {
            checkbox = null;
            $('input[type="checkbox"]').not(this).prop('checked', false);
            checkbox = document.querySelector('input[type="checkbox"]');
        });
        /*    $(document).ready(function(){
                $('input[name="check1"]').on('change', function() {
                    $('input[name="check1"]').not(this).prop('checked', false);
                    alert("The best cricketer is: " + $('input[name="check1"]:checked').attr("id"));
                });
            });*/
        $(document).ready(function () {
            $.ajax({
                url: "http://localhost:8080/exp/serviceList/",
                type: "GET",
                // data: {depart:deptid},
                dataType: "json",
                success: function (response) {

                    var len = response.length;

                    $("#listof").empty();
                    for (var i = 0; i < len; i++) {
                        var id = response[i]['id'];
                        var name = response[i]['serviceName'];

                        // $("#service").append("<option value='"+id+"'>"+name+"</option>");
                        $("#listof").append("<input type='checkbox' name='check' class='radio' value='" + name + "' id='" + id + "' />" + name + "</label>");

                    }
                }
            });
            $("#request").click(function (event) {
                var formData = {
                    serviceName: $('input[name="check"]:checked').attr('value')
                    // superheroAlias: $("#superheroAlias").val(),
                };

                $.ajax({
                    type: "POST",
                    method: "POST",
                    url: "http://localhost:8080/exp/request",
                    data: formData,
                    dataType: "json",
                    encode: true,
                }).done(function (data) {
                    console.log(data);
                });

                event.preventDefault();
            });
        });
        $(document).ready(function () {
            // order=$('input[name="myOrder"]:checked').attr('value');
            $("#showOrderForStart").click(function (event) {
                $.ajax({
                    url: "http://localhost:8080/exp/startOrder/",
                    type: "GET",
                    // data: {
                    //     id:$('input[name="myOrder"]:checked').attr('value')
                    // },
                    contentType: "application/json;charset=utf-8",
                    dataType: "json",
                    success: function (result) {
                        debugger;
                        if (result) {
                            $("#listOrderForStart").empty();

                            //itetrate thorugh each record and bind it to td
                            var html = '';
                            $.each(result, function (key, item) {
                                var tablerow = '<tr>'
                                    + '<td id="ide">' + item.id + '</td>'
                                    + '<td>' + item.describe + '</td>'
                                    + '<td>' + item.offerPrice + '</td>'
                                    + '<td id="email">' + item.address + '</td>'
                                    + '<td>' + "<input type='checkbox' name='forStart' class='forStart' value='" + item.id + "' id='" + item.id + "' />" + "<lable></label>" + '</td>'
                                    + '</tr>';
                                $("#listOrderForStart").append(tablerow);
                            });
                        }
                    },
                    error: function (errormessage) {
                        alert(errormessage.responseText);
                    }
                });
            });
            // });
            // $(document).ready(function () {

            $("#forStartWork").click(function (event) {
                    alert($('input[name="forStart"]:checked').attr('id'))
                var formData = {
                    id: $('input[name="forStart"]:checked').attr('id'),
                    // superheroAlias: $("#superheroAlias").val(),
                };

                $.ajax({
                    type: "POST",
                    method: "POST",
                    url: "http://localhost:8080/exp/startwork/",
                    data: formData,
                    dataType: "json",
                    encode: true,
                }).done(function (data) {
                    console.log(data);
                });

                event.preventDefault();
            });
        });
        $(document).ready(function () {
            // order=$('input[name="myOrder"]:checked').attr('value');
            $("#showDownWork").click(function (event) {
                $.ajax({
                    url: "http://localhost:8080/exp/donelist/",
                    type: "GET",
                    // data: {
                    //     id:$('input[name="myOrder"]:checked').attr('value')
                    // },
                    contentType: "application/json;charset=utf-8",
                    dataType: "json",
                    success: function (result) {
                        debugger;
                        if (result) {
                            $("#listOrderForDown").empty();
                            //itetrate thorugh each record and bind it to td
                            var html = '';
                            $.each(result, function (key, item) {
                                var tablerow = '<tr>'
                                    + '<td id="ide">' + item.id + '</td>'
                                    + '<td>' + item.describe + '</td>'
                                    + '<td>' + item.offerPrice + '</td>'
                                    + '<td id="email">' + item.address + '</td>'
                                    + '<td>' + "<input type='checkbox' name='finishing' class='radio' value='" + item.id + "' id='" + item.id + "' />" + "</label>" + '</td>'
                                    + '</tr>';
                                $("#listOrderForDown").append(tablerow);
                            });
                        }
                    },
                    error: function (errormessage) {
                        alert(errormessage.responseText);
                    }
                });
            });
        });
        $(document).ready(function () {
            $("#finish").click(function (event) {
                alert($('input[name="finishing"]:checked').attr('value'))
                var formData = {
                    id: $('input[name="finishing"]:checked').attr('value'),
                    // superheroAlias: $("#superheroAlias").val(),
                };
                alert(formData)

                $.ajax({
                    type: "POST",
                    method: "POST",
                    url: "http://localhost:8080/exp/finish/",
                    data: formData,
                    dataType: "json",
                    encode: true,
                }).done(function (data) {
                    console.log(data);
                });

                event.preventDefault();
            });
        });
        $(document).ready(function () {

            $("#showAllOrderBut").click(function (event) {
            $.ajax({
                url: "http://localhost:8080/exp/seeorder/",
                type: "GET",
                // data: {depart:deptid},
                dataType: "json",
                success: function (result) {
                    debugger;
                    if (result) {
                        //itetrate thorugh each record and bind it to td
                        var html = '';
                        $.each(result, function (key, item) {
                            var tablerow = '<tr>'
                                + '<td id="ide">' + item.id + '</td>'
                                + '<td>' + item.subServiceName+'</td>'
                                + '<td >' + item.describe + '</td>'
                                + '<td >' + item.timeForWork + '</td>'
                                + '<td >' + item.orderPrice + '</td>'
                                + '<td >' + item.address + '</td>'
                                + '</tr>';
                            $("#AllOrders").append(tablerow);
                        });
                    }
                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }
            });
        });
        });
        $(document).ready(function () {
            // order=$('input[name="myOrder"]:checked').attr('value');
            $("#info").click(function (event) {
                $.ajax({
                    url: "http://localhost:8080/exp/showMyInfo/",
                    type: "GET",
                    // data: {
                    //     id:$('input[name="myOrder"]:checked').attr('value')
                    // },
                    contentType: "application/json;charset=utf-8",
                    dataType: "json",
                    success: function (result) {
                        debugger;
                        if (result) {
                            $("#myInfo").empty();

                            //itetrate thorugh each record and bind it to td
                            var html = '';
                            var id =result["rate"];
                            var name = result["budget"] ;

                            alert("my rate:"+id+"  "+"my budget: "+name)
                                $("#myInfo").append("<p>"+id+" "+name+"</p>");

                        }
                    },
                    error: function (errormessage) {
                        alert(errormessage.responseText);
                    }
                });
            });
            });

    </script>
</body>

</html>