<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/jquery-migrate-3.4.0.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    
</head>
<body>
    <div>
        <p>
            <label for="service" >service</label>
            <input id="service" name="service" type="text">
            <button type = "button" value="service" id="butservice">Add</button>
        </p>

    </div>
    <div>

     </div>
     <script>
           $(document).ready(function () {
              $("#butservice").click(function (event) {
                  var formData = {
                    serviceName: $("#service").val(),
                    
                      // superheroAlias: $("#superheroAlias").val(),
                  };

                  $.ajax({
                      type: "POST",
                      method: "POST",
                      url: "http://localhost:8080/service/addservice/",
                      data: formData,
                      dataType: "json",
                      encode: true,
                  }).done(function (data) {
                      console.log(data);
                  });

                  event.preventDefault();
              });
          });
     </script>
</body>
</html>